.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-card {
    padding: 20px;
    width: 350px;
    /* Optional: Ein leichter Schatten für mehr Tiefe */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    justify-content: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
